{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="{% static 'geoApp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'geoApp/index.css' %}">

        
        govinda
        {{pythonToHTML}}
    </head>
    <body>
    
    </body>
    <script type="text/javascript" src="{% static 'geoApp/jQuery_v3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'geoApp/index.js' %}"></script>
</html>